/* Sections Styles */
section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 16px;
  border-top: 1px solid var(--figma-color-border, #444444);

  &:last-child {
    border-bottom: 1px solid var(--figma-color-border, #444444);
  }

  &.section-depth-1 {
    padding: 6px 0 6px 16px;
    border-top: none;
    border-bottom: none;
    border-left: 2px solid var(--figma-color-border, #444444);
  }
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

h2,
h3 {
  font-weight: 550;
}

h3 {
  color: var(--figma-color-text-secondary, #ffffffb3);
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: none;
  padding: 8px 0 0;
}
