/* Variables */
:root {
  --fpl-dialog-elevation: 0 2px 5px 0 #00000059, inset 0 0 0.5px 0 #ffffff59,
    0 10px 16px 0 #00000059, inset 0 0.5px 0 0 #ffffff14;
  --elevation-500: 0 3px 5px 0 #00000059, inset 0 0 0.5px 0 #ffffff59,
    0 10px 24px 0 #00000073, inset 0 0.5px 0 0 #ffffff14;
}
